<!-- 
    Boa visualização 
    Boa acessibilidade
    
    Pouco flexível
    Precisa de estilização

-->

<table>
    
    <caption>Pessoas por idade</caption> <!-- Descrição da tabela -->

    <thead> <!-- Cabeçalho -->
        <tr> <!-- linha da tabela -->
            <th> <!-- linha cabeçalho -->
                Nome
            </th>
            <th>
                Idade
            </th>
        </tr>
    </thead>
    
    <tbody> <!-- Corpo da tabela -->
        <tr>
            <td> <!-- Elemento da tabela -->
                Mayke
            </td>
            <td>
                39
            </td>
        </tr>
    
        <tr>
            <td>Luiz</td>
            <td>20</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td>Total:</td>
            <td>2 pessoas</td>
        </tr>
    </tfoot>

</table>