<!--
    2 lojas
    Produtos produzidos, vendidos e agrupar por nome do produto
-->

<table>
    <caption>Produzidos x vendidos por loja</caption> <!-- Descrição -->

    <Colgroup> <!-- Confirguração de colunas -->
    <col>
    <col span="2" style="background-color: red;">
    <col span="2" style="background-color: blue;">
    </Colgroup>

    <thead>
        <tr>
            <th rowspan="2"></th> <!-- quantas linhas essa coluna ocupa? rowspan -->
            <th colspan="2" scope="colgroup">loja 1</th> <!-- Quantas colunas essa linha ocupa? colspan -->
            <th colspan="2" scope="colgroup">loja 2</th>
        </tr>
        
        <tr>
            <th scope="col">Produzidos</th> <!-- scope é pra melhorar acessibilidade dizendo ao que se refere cada elemento-->
            <th scope="col">Vendidos</th>
            <th scope="col">Produzidos</th>
            <th scope="col">Vendidos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Vassouras</th>
            <td>50</td>
            <td>30</td>
            <td>40</td>
            <td>25</td>
        </tr>
        <tr>
            <th scope="row">Cesta</th>
            <td>34</td>
            <td>13</td>
            <td>26</td>
            <td>19</td>
        </tr>
    </tbody>
</table>