* {
    box-sizing: border-box; /* faz o padding não aumentar o tamanho da caixa*/
}

div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: auto; /* distãncia externa até a caixa*/
    padding: 0 20px; /* o preenchimento interno aumenta o tamanho da caixa*/

}

#block { /* bloco é customizável, linha não. Linha só costumiza padding e border e vai só pras laterais */
    height: 50px;
    margin-bottom: 12px;
    border: 1px solid red;
}

section{
    border: 1px solid red;
    margin-top: 12px;
    padding: 12px 30px;
}

span{
    height: 50px;
    margin: 0 12px; /* margin de 2 elementos na horizontal soma mas na vertical não */
    border: 1px solid green;
}

.borda {
    border: 12px dotted green;
    padding: 20px;
    border-top: double gray 8px;
    border-bottom: none;

    outline: 4px solid yellow;
}
