<a href="Hyperlink.html" target="_blank">Caminho na mesma pasta</a>
<a href="../Elementos/Codigo.html">Caminho na outra pasta</a>

<!-- Os dois pontos servem para sair da pasta e ir para uma pasta anterior/pai -->

