<!--
    Elementos de ancora

    Anatomia

    Atributos:
        - Globais
        - href
            - para onde ir quando clicar no link
                - url completa
                - fragmento
                - email
                - telefone
                - outros.
        - download
        - target:
            - _self(padrão)
            - _blank
-->

<a href="http://google.com" target="_blank">Conteúdo</a>

<a href="http://google.com" target="_blank" title="Ir para o Google"><h1>Google</h1> <p>posso o que quiser</p><img src="https://source.unsplash.com/random" alt="imagem legal"></a>

<p>Econtre-me:</p>

<ul>

    <li><a href="https://app.rocketseat.com.br/me/luiz-gustavo-peruchi-de-oliveira-00536">Perfil</a></li>
    <li><a href="mailto:luizgustavo1513@gmail.com">Email</a></li>
    <li><a href="tel:+5548998517995">Telefone</a></li>

</ul>

<h1>Saiba mais</h1>

<ul>
    <li><a href="#sobre">Sobre mim</a></li>
    <li><a href="#historia">Minha História</a></li>
    <li><a href="#trabalhos">Meus trabalhos</a></li>
</ul>

<h2 id="sobre">Sobre mim</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.</p>

<h2 id="historia">Minha História</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.</p>

<h2 id="trabalhos">Meus Trabalhos</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, saepe accusamus molestiae eveniet, rerum odit fugiat neque dolorum, quibusdam esse nemo voluptatem expedita. Deserunt, eius repellat? Magni error asperiores ratione.</p>