#id, #id strong{
    color: gray;/*mais especifico*/
}

*{
    color: red; /* menos especifico*/
}

.classe{
    color: green !important; /* especificidade média acima de body h1*/
/* Important sobrescreve outras regras*/
}

h1{
    color:black; /*especificidade média*/
}

body h1{
    color: purple; /* especificidade média acima de h1*/
}