#dist{
    font-size: 38px;
}

p {
    font-size: 2rem; /* em é relativo ao tamanho da fonte pai (38) e rem é relativo ao elemento raiz do css*/
}

/*servem para modificar as propriedades raiz do documento*/

html{

}

:root{

}

/* vw e vh é a unidade de medida relativa ao tamanho da viewport (tela) onde h é altura e w largura*/