html{
    font-size: 50px;
}

ul {
    font-size: 50%;
}

body {
    height: 100vh;
}

.box{
    height: calc(50% + 20px); /*não funcionaria sem definir tamanho do body*/
    width: 300px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: center;
}

.box::after{
    content: "Aqui";
    color: white;
}