h1{ /*Seletor por elemento*/
    color: blue;
    font-size: 24px;
}

p{
    color: green;
}

/* seletor por id */
#title{
    font-family: 'Times New Roman', Times, serif;
}

#content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

/* seletor por classe */
.red{
    border: 1px solid red;
}

.big{
    font-size: 3em;
}


/* seletor por atributo */
[title]{
    margin-top: 200px;
}

/*seletor de estado específico*/

p:hover {
    color: blue;
}

h1:hover{
    color: red;
}