<!-- Atributos HTML -->

<img src="imagem.png" alt="imagem">

<!-- Atributos booleanos = Não precisa de conteúdo -->

<input type="text" disabled>

<a href="">link</a>

<!-- 
    Atributos globais 

    -class
    -contenteditable
    -data-*
    -hidden
    -id
    -style
    -tabindex
    -title

-->

<div class="carrinho" contenteditable="True">
    carro
</div>

<div class="carrinho" data-qualquernomeaqui="list" id="name1" style="color: red">
    carro
</div>

<div class="carrinho" hidden>
    carro
</div>

<div tabindex="4"> 
    luva 
</div>

<div tabindex="2"> 
    luva 
</div>

<div tabindex="3"> 
    luva 
</div>

<div title="de pedreiro" tabindex="1"> 
    luva 
</div>