<p>Vou para casa <strong>todo dia</strong> apenas para <em>dormir</em> </p>

<p>Não passo frio <strong>mas</strong> <em>acho</em> que deveria trazer mais um casaco e pra isso vou pesquisar no <a href="https://www.google.com.br/">Google</a></p>