

.flexbox{
    display: flex;
    border: 1px solid red;
    height: 100vh;
}

aside{
    border: 1px dotted green;
    background-color: palegreen;
    flex: 1;
    text-align: center;
}

main{
    flex: 2;
    display: flex;
    flex-direction: column;
}

main section:nth-child(1){
    flex: 2;
}
main section:nth-child(2){
    flex: 0 50px;
}
main section:nth-child(3){
    flex: 1;
}