*{
    margin: 0px;
    height: 100vh;
}

.flexbox{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    /*flex-flow: row wrap; comando multi-uso */
    /* gap: 2em; coloca espaços entre os elementos*/

}

.item:nth-child(2) {
    order: 1;
}

.item{
    display: flex;
    background-color: green;
    border: 1px solid red;
    /*flex: 1; linha para deixar tudo colado uma caixa na outra / flex-grow */
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
}