.flexbox{
    display: flex;
    border: 1px solid red;
}

.item{
    border: 1px dotted green;
    flex-basis:auto; /*muda a dimensão de acordo com o eixo e sobrescreve a dimensão dos filhos se tiver propriedade neles*/
}

.item:nth-child(2){
    width: 250px;
}

.item:nth-child(6){
    flex-grow: 1;
}
.item:nth-child(5){
    flex-grow: 3;
}

/* flex-shrink: serve pra capar os elementos dentro da caixa e ajustar a quantidade de pixels que ele pega*/