<blockquote cite="Google.com">O <strong>Google</strong> é um site de busca muito útil também conhecido como <em>&quot;Pai dos burros&quot;</em> </blockquote>

<p>O <code>&lt;q&gt;</code> segundo Rocketseat <q cite="https://app.rocketseat.com.br/node/o-guia-estelar-de-html/group/trabalhando-com-elementos/lesson/citacoes">é usado para citações curtas de parágrafo único</q></p>

<p>De acordo com <a href="Twitter.com"><cite>Página da net</cite></a></p>