<!-- 
    Representar códigos de computador 
    
    <code>
        Partes genéricas do código
    
    <pre>
        Blocos de código, mantém espaços em branco e recuos do código
-->

<p>
    document.queryselector("body")
</p>

<code>document.queryselector("body")</code>

<pre>
    document.queryselector("body")
</pre>

<pre>
    <code>
        document.queryselector("body")
    </code>
</pre>

<pre>
    <code>
        <xmp>  <!-- Não fazer com xmp e sim com caracteres especiais-->
            <pre>
                <h1>

                </h1>
            </pre>
        </xmp>
    </code>
</pre>