<h1>Suco</h1>

<h2>Ingredientes:</h2>

<ol>
    <li>3 folhas de couve;</li>
    <li>1 laranja;</li>
    <li>1 pedaço de gengibre;</li>
    <li>300ml de água;</li>
    <li>Adoçante a gosto;</li>
    <li>Gelo a gosto.</li>
</ol>