<!-- 
    Listas de descrição

<dl>
    <dt></dt>
    <dd></dd>
</dl>
-->

<h2>Glossário</h2>

<dl>
    
    <dt>
        Hypertexto
    </dt>
    <dd>
        Um texto
    </dd>
    
    <dt>
        Markup
    </dt>
    <dd>
        Marcação
    </dd>

</dl>