<head>
    <!-- Codificação de caracteres -->
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Portabilidade para dispositivos mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icone da pagina -->
    <link rel="icon" href="../03 - Links/Exercício/files/UMi2.png" type="image/x-icon">
    
    <meta name="author" content="Luiz Gustavo">

    <!-- Descrição da pesquisa do Google -->
    <meta name="description" content="Um site para o Battler">

    <!-- Tag se eu quiser ou não que minha pagina seja indexada ou siga os links dentro dela pelo google -->
    <meta name="robots" content="noindex, nofollow">
    <title>No Witches?</title>

    <!-- Metas personalizados para redes sociais existem tais quais Open Graph (Facebook)-->

</head>