main{
    display: flex;
    gap: .8rem;
    height: 97vh;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
}



img {
    width: 256px;
}