body{
    display: flex;
    height: 100vh;
    gap: 1rem;
}

#d1{
    flex: 0 0 25%;
    background-color: blue;
    border: 1px dotted green;
}

#d2{
    flex: 1;
    border: 1px dotted yellow;
    background-color: red;
}