body{
    background-color: aliceblue;
    height: 97vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    background-color: gold;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

img{
    height: 40px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    height: 80px;
    width: 150px;
}

footer{
    display: flex;
    background-color: gray;
    height: 8rem;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}