header{
    border: 1px dashed blue;
    padding: 40px;
    background-color: lightgray;
}

#logo{
    display: flex;
    flex-direction: column;
    border: 1px dotted green;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    border: 1px solid red;
    list-style: none;
    gap: .8rem;
    align-items: center;
}
    

input{
    background-color: purple;
    padding: .8rem;
}